In [7]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('../Python/Brasileirao_Matches.csv')

In [5]:
df

,datetime,home_team,home_team_state,away_team,away_team_state,home_goal,away_goal,season,round
0,2012-05-19 18:30:00,Palmeiras-SP,SP,Portuguesa-SP,SP,1.0,1.0,2012,1
1,2012-05-19 18:30:00,Sport-PE,PE,Flamengo-RJ,RJ,1.0,1.0,2012,1
2,2012-05-19 21:00:00,Figueirense-SC,SC,Nautico-PE,PE,2.0,1.0,2012,1
3,2012-05-20 16:00:00,Ponte Preta-SP,SP,Atletico-MG,MG,0.0,1.0,2012,1
4,2012-05-20 16:00:00,Corinthians-SP,SP,Fluminense-RJ,RJ,0.0,1.0,2012,1
...,...,...,...,...,...,...,...,...,...
4175,NaN,Internacional-RS,RS,Palmeiras-SP,SP,NaN,NaN,2022,38
4176,NaN,Santos-SP,SP,Fortaleza-CE,CE,NaN,NaN,2022,38
4177,NaN,Corinthians-SP,SP,Atletico-MG,MG,NaN,NaN,2022,38
4178,NaN,Flamengo-RJ,RJ,Avai-SC,SC,NaN,NaN,2022,38
4179,NaN,America-MG,MG,Atletico-GO,GO,NaN,NaN,2022,38

In [6]:
df.shape

(4180, 9)

In [10]:
df.head()

,datetime,home_team,home_team_state,away_team,away_team_state,home_goal,away_goal,season,round
0,2012-05-19 18:30:00,Palmeiras-SP,SP,Portuguesa-SP,SP,1.0,1.0,2012,1
1,2012-05-19 18:30:00,Sport-PE,PE,Flamengo-RJ,RJ,1.0,1.0,2012,1
2,2012-05-19 21:00:00,Figueirense-SC,SC,Nautico-PE,PE,2.0,1.0,2012,1
3,2012-05-20 16:00:00,Ponte Preta-SP,SP,Atletico-MG,MG,0.0,1.0,2012,1
4,2012-05-20 16:00:00,Corinthians-SP,SP,Fluminense-RJ,RJ,0.0,1.0,2012,1

In [11]:
df.tail()

,datetime,home_team,home_team_state,away_team,away_team_state,home_goal,away_goal,season,round
4175,NaN,Internacional-RS,RS,Palmeiras-SP,SP,NaN,NaN,2022,38
4176,NaN,Santos-SP,SP,Fortaleza-CE,CE,NaN,NaN,2022,38
4177,NaN,Corinthians-SP,SP,Atletico-MG,MG,NaN,NaN,2022,38
4178,NaN,Flamengo-RJ,RJ,Avai-SC,SC,NaN,NaN,2022,38
4179,NaN,America-MG,MG,Atletico-GO,GO,NaN,NaN,2022,38

In [14]:
df['season']

0       2012
1       2012
2       2012
3       2012
4       2012
        ...
4175    2022
4176    2022
4177    2022
4178    2022
4179    2022
Name: season, Length: 4180, dtype: int64

In [15]:
df.describe()

         home_goal    away_goal       season        round
count  3919.000000  3919.000000  4180.000000  4180.000000
mean      1.411585     0.945649  2017.000000    19.500000
std       1.156370     0.971443     3.162656    10.967168
min       0.000000     0.000000  2012.000000     1.000000
25%       1.000000     0.000000  2014.000000    10.000000
50%       1.000000     1.000000  2017.000000    19.500000
75%       2.000000     1.000000  2020.000000    29.000000
max       6.000000     6.000000  2022.000000    38.000000

In [18]:
df[df['away_team'] =='Avai-SC']['away_goal'].mean()

0.6031746031746031

In [19]:
df[df['away_team'] =='Avai-SC']['home_goal'].mean()

1.7301587301587302

In [20]:
df[df['away_team'] =='Figueirense-SC']['away_goal'].mean()

0.7368421052631579

In [21]:
df[df['away_team'] =='Figueirense-SC']['home_goal'].mean()

1.8026315789473684

In [44]:
df[df['home_team'] == 'Avai-SC']['season']

1149    2015
1167    2015
1186    2015
1209    2015
1220    2015
        ...
4088    2022
4092    2022
4112    2022
4141    2022
4165    2022
Name: season, Length: 76, dtype: int64

In [14]:
pd.pivot_table(df, values=(['home_goal', 'away_goal']), index='season', columns=(['home_team']), aggfunc=np.mean)

           away_goal                                                          \
home_team America-MG Atletico-GO Atletico-MG Atletico-PR   Avai-SC  Bahia-BA
season
2012             NaN    1.578947    0.789474         NaN       NaN  0.842105
2013             NaN         NaN    0.789474    0.894737       NaN  0.894737
2014             NaN         NaN    0.631579    0.736842       NaN  0.894737
2015             NaN         NaN    1.052632    1.052632  1.368421       NaN
2016        1.052632         NaN    1.052632    0.315789       NaN       NaN
2017             NaN    1.210526    1.421053    1.052632  1.052632  1.105263
2018        0.894737         NaN    0.789474    0.736842       NaN  0.684211
2019             NaN         NaN    1.210526    0.578947  1.263158  0.947368
2020             NaN    1.105263    0.684211    0.684211       NaN  1.368421
2021        0.578947    0.736842    0.684211    1.105263       NaN  1.157895
2022        0.833333    0.833333    1.000000    0.833333  1.333333       NaN

                                                               ... home_goal  \
home_team Botafogo-RJ  Ceara-CE Chapecoense-SC Corinthians-SP  ... Parana-PR
season                                                         ...
2012         1.157895       NaN            NaN       0.947368  ...       NaN
2013         0.736842       NaN            NaN       0.263158  ...       NaN
2014         1.000000       NaN       0.578947       0.789474  ...       NaN
2015              NaN       NaN       1.000000       0.578947  ...       NaN
2016         0.894737       NaN       1.166667       0.578947  ...       NaN
2017         1.315789       NaN       1.105263       0.789474  ...       NaN
2018         0.736842  0.842105       0.842105       0.631579  ...  0.684211
2019         0.894737  0.736842       1.157895       0.684211  ...       NaN
2020         1.578947  1.315789            NaN       1.210526  ...       NaN
2021              NaN  0.736842       1.684211       0.947368  ...       NaN
2022         1.333333  1.400000            NaN       0.400000  ...       NaN

                                                                             \
home_team Ponte Preta-SP Portuguesa-SP Red Bull Bragantino-SP Santa Cruz-PE
season
2012            1.157895      1.315789                    NaN           NaN
2013            1.000000      1.684211                    NaN           NaN
2014                 NaN           NaN                    NaN           NaN
2015            1.157895           NaN                    NaN           NaN
2016            1.736842           NaN                    NaN      1.421053
2017            1.368421           NaN                    NaN           NaN
2018                 NaN           NaN                    NaN           NaN
2019                 NaN           NaN                    NaN           NaN
2020                 NaN           NaN               1.789474           NaN
2021                 NaN           NaN               1.473684           NaN
2022                 NaN           NaN               1.571429           NaN


home_team Santos-SP Sao Paulo-SP  Sport-PE Vasco da Gama-RJ Vitoria-BA
season
2012       1.684211     1.947368  1.157895         1.473684        NaN
2013       1.473684     1.210526       NaN         1.368421   1.684211
2014       1.315789     1.684211  1.210526              NaN   1.210526
2015       2.473684     1.842105  1.736842         0.684211        NaN
2016       1.894737     1.526316  1.736842              NaN   1.578947
2017       1.315789     1.526316  1.421053         1.105263   1.157895
2018       1.473684     1.315789  1.000000         1.526316   1.157895
2019       2.315789     1.210526       NaN         1.052632        NaN
2020       1.842105     1.526316  1.000000         1.105263        NaN
2021       1.105263     0.947368  0.684211              NaN        NaN
2022       1.666667     2.200000       NaN              NaN        NaN

[11 rows x 72 columns]

In [15]:
import pandas as pd
import numpy as np

In [16]:
import seaborn as sns

In [17]:
import matplotlib.pyplot as plt